h1{
	color: burgundy;
}

#container{
	margin: 0 auto;
	border: 1px black solid;
	width: 50%;
}

img{
	float:right;
	width: 50%;
	padding: 10px;
	margin-left: 5px;
	border: 1px solid red;
}

table{
	width: 80%;
}